extends layout
block content
  h1(align="center") LoveHatometer
  
  
  ul(class="percentage")
    li(class="love") Love
      span 0
    li(class="hate") Hate
      span 0
  div(class="row")
    div(class="col-md-4")
      h3(class="total",align="center")
    div(class="col-md-4")
      h3(class="lovecount",align="center")
    div(class="col-md-4")
      h3(class="hatecount",align="center")

  div(style="text-align:center")
    button(class="stop", align="center", style="background-color:#00BFFF;color:black") Stop Stream

  div(class="row")
    div(class="col-md-6") 
      h3(align="center") Lovers
      ul(class="tweets1")
    div(class="col-md-6") 
      h3(align="center") Haters
      ul(class="tweets2")






  
    
    
  

    
  
